body{
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  }
.everything{
  display: none;
}
/* Model Background */
.bib-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .bib-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: bib-zoom;
    animation-duration: 0.6s;
  }
    
  @-webkit-keyframes bib-zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes bib-zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .bib-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .bib-close:hover,
  .bib-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .bib-modal-content {
      width: 100%;
    }
}

/* Navbar */
nav{
    position: relative;
}
nav > div{
    overflow: hidden;
    width: 99%;
    height: 10%;
    padding: 5px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding-bottom: 20px;
    box-shadow: 1px 5px 4px #e0e0e0;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .5px;
    color: rgb(83, 5, 5);
}
.navbar li a:hover{
    color: rgb(108, 37, 175);
    transition: 0.25s;
    text-decoration: underline black;
}
.active {
  color: rgb(22, 2, 112);
}
.closebtn{
    display: none;
}
.openbtn{
    display: none;
}

.container { 
  display: flex;  
  justify-content: center;  
  align-items: center;  
} 
.container > img{
  display: flex;  
  justify-content: center;  
  align-items: center; 
  height: 300px;
  width: 300px;
  margin-top: 15%;
} 
@media screen and (max-width: 1024px) {
    nav > div{
        width: 100%;
    }
    .closebtn{
        display: block;
    }
    .openbtn{
        display: block;
    }
    .navbar li a{
        display: none;
    }
    .navbar > .vertical-line{
        display: none;
    }
    .navbar {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top:0;
        left:0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .navbar li a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .navbar li a:hover, .navbar a:focus {
        color: #f1f1f1;
        text-decoration: underline white;

      }
      
      .navbar .closebtn {
        position: absolute;
        top: 10%;
        right: 10%;
        font-size: 60px;
      }
      .navbar li a {font-size: 20px}
      .navbar .closebtn {
        font-size: 40px;
        top: 10px;
        right: 150px;
        }
        .middle{
            flex-wrap: wrap;
        }  
}

/* Home Page styling */
.home-image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-image > img{
  height: 400px;
  width: 400px;
  margin:30px;
  transition: 0.5s all ease-in-out;
}
.heading{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 3vw;
  font-family: 'Courier New', Courier, monospace;
}
#star{
  height: 50px;
  width: 50px;
  margin: 0px 10px;
  color: red;
}
.home-image > img:hover{
  transform: scale(1.1);
}
/* About Us */
.detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.moto{
  margin: 10px;
  padding: 100px;
  font-size: 1.1vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  box-shadow: 5px 10px 8px #9b9999;
}
.quotes{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 8px #9b9999;
}
.quotes > div > img{
  margin: 4px;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.quotes > div > #quote-start{
  transform: rotateY(180deg);
}
.quotes > div >#quote-end{
  transform: rotateX(180deg);
}
.quotes > div {
  font-size: 1.3vw;
  font-family:cursive;
}


/* Gallery Page Styles*/
.section-heading{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 2vw;
  font-family:monospace;
  color:rgb(0, 61, 13);
}

@media screen and (max-width: 760px){
  .detail{
    grid-auto-flow: rows;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section-heading{
    font-size: 4vw;
  }
  .heading{
    font-size: 5vw;
  }
  #star{
    margin: 0px 5px;
    height: 30px;
    width: 30px;
  }
  .moto{
    padding: 50px;
    font-size: 2.5vw;
  }
  .quotes > div {
    font-size: 2.5vw;
    padding: 50px;
  }
}